<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="LeastWantedStat"       value="Health"/>
		<add key="ShowDimQueries"         value="True"/>
		<add key="CustomExoticRolls"      value="False"/>
		<add key="FontsEnabled"           value="False"/>
		<add key="ArmorModsEnabled"       value="True"/>
		<add key="SubclassCustomization"  value="False"/>
		<add key="CustomTuning"           value="False"/>
		<add key="T5ExoticEnabled"        value="False"/>
	</appSettings>
</configuration>